a {
	color: #FFFFFF !important;
}
.projectgraph-node text {
  font: 10px sans-serif;
  cursor: pointer;
}

.projectgraph-icon {
  cursor: pointer;
}

h4 projectgraph-header{

  color: #23A4FF;
  font-size: 15px;
  margin-bottom: 0.5em;
  display: inline-block;
  height:25px;
}

.projectgraph-graph-container {
  float: left;
  top:55px;
  padding:5px 5px 5px 5px;
  border: 1px solid blue;
  border-radius: 7px;
  overflow: hidden;
}

.projectgraph-detail-panel { 
  background-color: white;
  display: block;
  float: left;
  clear: right;
  left:7px;
  top:5px;
  z-index:1;
  border:1px solid blue;
  border-radius: 8px;
  padding-left:10px;
  padding-right:10px;
}

div#projectgraph-errors-panel {
  border:1px solid red;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  visibility: hidden;
  font-size: 2em;
}

.zoom_slider {
  top:-38px;
  float:right;
}

.contextMenu {
  display: none;
}
