.node text {
  font: 10px sans-serif;
  cursor: pointer;
}

.icon {
  cursor: pointer;
}

h4 {
//  color: #23A4FF;
  color: yellow;
  font-size: 16px;
  margin-bottom: 0.5em;
  display: inline-block;
  height:25px;
}

.graph-container {
  float: left;
  top:55px;
  padding:5px 5px 5px 5px;
  border: 1px solid blue;
  border-radius: 7px;
  overflow: hidden;
  background-color: gray;
}

rect {
  background-color: gray;
}

.detail-panel {
  background-color: green;
  display: block;
  float: left;
  clear: right;
  left:7px;
  top:5px;
  z-index:1;
  border:1px solid blue;
//  border-radius: 8px;
  border-radius: 100px;
  padding-left:10px;
  padding-right:10px;
}

div#errors-panel {
  border:1px solid red;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  visibility: hidden;
  font-size: 2em;
}
