.ui-progressbar-value.ui-widget-header {
//  color: blue;
  background: blue;
}


#searchResultsDiv {
  display: none;
}
#diffDiv {
  display: none;
}

#diffTable {
  border-collapse:collapse;
}

table#diffTable tr td {
  padding-left: 2em;
  padding-right: 2em;
  border-bottom: 1px solid black;
}

#searchResultsTable {
  border-collapse:collapse;
}

#searchResultsTable thead tr th {
  border-bottom: 2px solid black;
  padding-left: 1em;
  padding-right: 1em;
}

.searchResults tr td {
  padding-left: 2em;
  padding-right: 2em;
  border-bottom: 1px solid black;
}

#searchTermsTd {
  width: 100px;
  text-align: left;
}

#wikisTd {
  vertical-align: text-top;
}

#moveLeft {
  display:block;
  width:100px;
}

#moveRight {
  width:100px;
}

#searchTerms {
  width:550px;
}

#includedWikis {
  width: 200px;
}

#nonIncludedWikis {
  width: 200px;
}

div#namespacesDiv table td {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
